/*HEADER AND PARAGRAPHS*/
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: #FFF;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 650;
  letter-spacing: -0.02em;
  margin-top: 3.0rem;
  margin-bottom: 1.2rem;
  color: #EAD8B1;
}

h3 {
  font-family: 'Fira Code', monospace;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

h4 {
  font-family: 'Fira Code', monospace;
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.75;
  letter-spacing: -0.01rem;
  margin-bottom: 1.5rem;
}

body {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  /*padding-bottom: 180px;*/
  /*padding-bottom: 20px;*/
  background-color: #0b0d12;
  background-image:
    /*Terracotta*/
    radial-gradient(circle at 15% 10%, rgba(204, 109, 83, 0.60) 0%, rgba(204, 109, 83, 0.02) 25%, transparent 45%),
    /* Pastel Yellow*/
    radial-gradient(circle at 25% 50%, rgba(246, 230, 159, 0.40) 0%, transparent 50%),
    /*Lavender*/
    radial-gradient(circle at 85% 45%, rgba(186, 164, 237, 0.40) 0%, transparent 50%),
    /*Light Blue*/
    radial-gradient(circle at 80% 85%, rgba(115, 178, 244, 0.60) 0%, rgba(115, 178, 244, 0.02) 25%, transparent 45%);
  background-attachment: absolute;
  background-size: cover;
  color: white;
}

/*TABS AND THEIR CONTENT*/
.tabs_header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 2400px;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  background: rgba(225, 246, 252, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1.2px solid rgba(173, 216, 230, 0.12);
  /*
  border-bottom: 2px;
  padding: 10px;*/
}

.tabs_header label {
  margin-left: 15px;
}

.tab_content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.center_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #ADD8E6;
  color: #FFF;
  text-shadow: 0.5px 0 0 #FFF, -0.5px 0 0 #FFF;
}

label {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #d5d5d5;
  color: #000;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 5px;
}

header:has(#home:checked) ~ #content_home,
header:has(#about:checked) ~ #content_about,
header:has(#project:checked) ~ #content_project,
header:has(#artBusiness:checked) ~ #content_artBusiness,
header:has(#contact:checked) ~ #content_contact {
  display: block !important;
}

/*IMAGES, TABLES, and IN-SITE LINKS*/
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5em;
}

table {
  width: 100%;
}

th {
  font-family: 'Fira Code', monospace;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  font-size: 90%;
}

td {
  font-family: 'Inter', sans-serif;
  padding: 10px 10px 10px 10px;
}

th, td {
  /*border-top: 2px solid #111111;*/
  border-bottom: 2px solid #111111;
}

/*.money {
  text-align: right;
}*/

.text-link {
  color: #0066cc;
  background-color: #FFF;
  text-decoration: underline;
  cursor: pointer;
}

/*GALLERY FOR AKILAHSART*/
.carousel {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
  content: '>';
  border: none;
  background-color: #000;
  font-family: Consolas;
  font-size: 3em;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -50%;
}

.carousel::scroll-button(left) {
  content: '<';
  position-area: left center;
  translate: 50%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

.carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding-bottom: 250px;
}

.card, .card-h  {
  flex: 0 0 26em;
  width: fit-content;
  height: max-content;
  max-width: 90%;
  /*aspect-ratio: 16/9;*/
  background-color: #E9967A;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  align-content: center;
  justify-content: center;
  scroll-snap-align: start;
}

.card-h {
  flex: 0 0 45em;
}

.card::scroll-marker {
  content: '';
  height: 60px;
  width: 60px;
  /*height: 1em;
  width: 1em; */
  background-color: #ADD8E6;
  border-radius: 50%;
  padding: 50px;
}

.card::scroll-marker:target-current {
  background-color: #d5d5d5;
}

/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  /*margin-top: auto;*/
  text-align: center;
  /*background-color: #333;*/
  color: white;
  padding: 2px;
  background: rgba(5, 7, 15, 0.25);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  /*border-bottom: 1px solid rgba(20, 184, 166, 0.08);*/
}

/*Gallery Card Adjustments*/
@media(max-width: 500px) {
  .card {
    flex: 0 0 100%;
  }
}

/*Large Screen Adjustments*/
@media(min-width: 851px) {
  .tabs_header label:nth-of-type(1) {
    margin-left: auto;
  }
}
/*Smaller Screen Adjustments*/
@media(max-width: 850px) {
  .tabs_header {
    flex-direction: column;
    gap: 15px;
    padding: 15px 5%;
    text-align: center;
  }
}
